body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(102, 35, 35);
}
div section{
    background-color: rgb(235, 108, 108);
    border-radius: 10%;
    width: 300px;
    padding-block: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    color: rgb(235, 108, 108);
}
p{
    color: rgb(235, 108, 108);
}
form select, form button {
    color: blanchedalmond;
    background-color: rgb(235, 108, 108);
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
